<!DOCTYPE html>
<html>
<title>BlockGuitars</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="modal.css">
<style>
body { padding: 10px; }
h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
app {
    position: relative;
}
img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 8px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
[v-cloak] > * { display:none; }
[v-cloak]::before { content: "loading..."; }
</style>
<body class="w3-black">

<script type="text/x-template" id="modal-details-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              Guitar Details
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              default body
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <button class="modal-button-default" @click="$emit('close')">
                Cerrar
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>

<script type="text/x-template" id="modal-my-details-template">
  <transition name="modal2">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              Guitar Details
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              default body
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <button class="modal-button-default" @click="$emit('close')">
                Cerrar Ventana
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>

<!-- App div -->

<div id="app" v-cloak>
<nav class="w3-topnav w3-small w3-center">
  <a href="register.html" class="w3-bar-item w3-button w3-padding-small w3-hover-black">
    <h3>Agregar Instrumento</h3>
  </a>
</nav>

<!-- Page Content -->
<div class="w3-padding-small">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-small w3-center w3-black">
    <a href="http://localhost:8080"><img src="guitarlogo.png"></a>
    <div v-if="web3Enabled">
      <p>{{ networkLabel }} </p>
    </div>
    <link rel="shortcut icon" href="favicon.png" >
  </header>

  <div v-if="web3Enabled" class="w3-center w3-padding-small w3-black"><input type="text" v-model="search" placeholder="Search Guitars"></div>

  <!-- Guitar List Section -->
  <div v-for="guitar in filteredGuitars" class="w3-content w3-center w3-text-grey w3-padding-small">
     <div v-if="guitar.owner==userAccount">
      <button class="w3-padding-small w3-button w3-hover-black" v-on:click="showGuitarDetails(guitar)">* {{ guitarLabel(guitar) }} {{ guitar.serialNumber }}</button>
    </div>
     <div v-else>
      <button class="w3-padding-small w3-button w3-hover-black" v-on:click="showGuitarDetails(guitar)">{{ guitarLabel(guitar) }} {{ guitar.serialNumber }}</button>
    </div>
  </div>

  <modal v-if="showDetailsModal" @close="showDetailsModal=false">
    <h3 slot="header">Detalles del Instrumento</h3>
    <span slot="body">
      <!--
      <p>GuitarId: {{ guitarId }}</p>
    -->
      <p>Marca: {{ lookupManufacturerLabel(guitarManufacturer) }}</p>
      <p>Número de Serie: {{ guitarSerialNumber }}</p>
      <p>Dirección del propietario: <a v-bind:href="'https://etherscan.io/address/' +  guitarOwner">{{guitarOwner}}</a></p>
      <p>Fecha de creación: {{ guitarDateCreated }}</p>
    </span>
  </modal>

  <modal2 v-if="showMyDetailsModal" @close="showMyDetailsModal=false">
    <h3 slot="header">Detalles de mi Instrumento</h3>
    <span slot="body">
      <p>Marca: {{ lookupManufacturerLabel(guitarManufacturer) }}</p>
      <p>Número de serie: {{ guitarSerialNumber }}</p>
      <p>Dirección del propietario: <a v-bind:href="'https://etherscan.io/address/' +  guitarOwner">{{guitarOwner}}</a></p>
      <p>Fecha de creación: {{ guitarDateCreated }}</p>
      <p>{{ processingMessage }} <i v-show="showSpinner" class="fa fa-spinner fa-spin" style="font-size:24px;color:white"></i></p>
      <p><button v-show="displayRegistrationComponents" type="button" class="modal-button-default" v-on:click="transferOwnership()">Transfer to Address:</button></p>
      <p><input v-show="displayRegistrationComponents" type="text" id="newOwnerAddress" v-model="newOwnerAddress" :placeholder="guitarOwner"></p>
      <p><button v-show="displayRegistrationComponents" type="button" class="modal-button-default" v-on:click="deleteGuitarDeed()">Delete Guitar Deed</button></p>
    </span>
  </modal2>
    <!-- Footer -->
  <footer class="w3-content w3-padding-small w3-text-grey w3-xlarge">

  </footer>

<!-- END PAGE CONTENT -->
</div>

<!-- END App div -->
</div>
<script type="text/javascript" src="guitarappvue.js"></script>
</body>
</html>
