<!DOCTYPE html>
<html>
<title>BlockGuitars</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="modal.css">
<style>
body { padding: 10px; }
h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
app {
    position: relative;
}
img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 8px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
h4 span { font-size:12px; }
[v-cloak] > * { display:none; }
[v-cloak]::before { content: "loading..."; }
</style>
<body class="w3-black">

<script type="text/x-template" id="modal-details-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <slot name="header">
              Guitar Details
            </slot>
          </div>
          <div class="modal-body">
            <slot name="body">
              default body
            </slot>
          </div>
          <div class="modal-footer">
            <slot name="footer">
              <button class="modal-button-default" v-on:click="emit">
                Confirmar Registro
              </button>
              <button class="modal-button-default" @click="$emit('close')">
                Cancelar
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>

<div id="app" v-cloak>
  <nav class="w3-topnav w3-small w3-center">
    <a href="index.html" class="w3-bar-item w3-button w3-padding-small w3-hover-black">
      <h3>Listar Instrumentos</h3>
    </a>
  </nav>

  <!-- Page Content -->
  <div class="w3-padding-small" id="main">
    <!-- Header/Home -->
    <header class="w3-container w3-padding-small w3-center w3-black" id="home">
      <a href="http://localhost:8080"><img src="guitarlogo.png"></a>
      <div v-if="web3Enabled">
        <p>{{ networkLabel }} </p>
      </div>
      <link rel="shortcut icon" href="favicon.png" >
    </header>

    <div class="w3-content w3-center w3-text-grey w3-padding-small" id="about">
      <!--<hr style="width:200px" class="w3-opacity">-->
      <form id="register" action="register.html">
        <!--
        <h4 class="w3-padding-8 w3-text-light-grey">Manufacturer</h4>
        -->

        <select v-if="web3Enabled==true" v-model="guitarManufacturer">
          <option value="000">- Seleccionar Marca -</option>
          <option v-for="manufacturer in manufacturers" v-bind:value="manufacturer.value">
            {{ manufacturer.text }}
          </option>
        </select>
        <br>
        <template v-if="guitarManufacturer!='000'">
          <h4 class="w3-padding-small w3-text-light-grey"></h4>
          <input type="text" size="40" id="guitarSerialNumber" v-model="guitarSerialNumber" style="text-transform:uppercase" placeholder="Enter Serial Number">
          <br>

          <template v-if="guitarSerialNumber!=''">
            <br>
            <button type="button" class="modal-button-default" v-on:click="confirmRegistration()">Register Guitar</button>
          </template>
        </template>
        <button v-show="guitarManufacturer!='000'" type="button" class="modal-button-default" v-on:click="clearRegistrationForm()">Limpiar</button>
      </form>
      <p>{{ processingMessage }} <i v-show="showSpinner" class="fa fa-spinner fa-spin" style="font-size:24px;color:white"></i></p>

      <modal v-on:event_child="registerGuitar" v-if="showDetailsModal" @close="showDetailsModal = false">
        <h3 slot="header">Detalles del instrumento</h3>
        <span slot="body">
          <p>Número de Serie: {{ guitarSerialNumber }}</p>
          <p>Marca: {{ lookupManufacturerLabel(guitarManufacturer) }}</p>
          <p>Propietario: {{ userAccount }}</p>
        </span>
      </modal>

<p id="demo"></p>
  </div>
  <footer class="w3-content w3-padding-small w3-text-grey w3-xlarge">
  </footer>
</div>

</div>
<script type="text/javascript" src="guitarappvue.js">
</script>
</body>
</html>
